
.nav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #e8e8e8;
  height: 40px;

  background-color: #fff;

  gap: 30px;
}

.button {
  all: unset;
  cursor: pointer;
}